@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Manrope";
  background: rgb(17, 16, 24);
  background: linear-gradient(
    90deg,
    rgba(17, 16, 24, 1) 0%,
    rgba(30, 27, 44, 1) 100%
  );
  color: #fff;
}

img {
    width: 70%;
    animation: rotate-around infinite ease-in-out 1s;
}

h2 {
  margin-bottom: 20px;
}

a {
  color: #e0e661;
}

#app {
  min-height: 350px;
  display: grid;
  place-items: center;
}
.content {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.content div {
  flex: 1;
}
.content img {
  flex: 0.5;
}
.text-purple {
  color: #ad9af3;
}
.text-lime {
  color: #e0e661;
}

@media (max-width: 900px) {
  .content {
    max-width: 600px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
  .content div {
    flex: 1.2;
  }
  .content img {
    flex: 0.7;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }

  .content {
    display: block;
    max-width: 200px;
  }

  .know-more {
    font-size: 12px;
  }

  img {
    margin-top: 20px;
  }
}
